*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#camera{
    background-color: red;
    display: none;
    color: black;
    height: 516px;
    position: relative;
    flex-direction: column;
    padding: 15px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}