*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#saveContact {
    background: #ffff;
    color: black;
    height: 516px;
    position: relative;
    flex-direction: column;
    padding: 5px;
    gap: 30px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    display: none;
}