*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* color: white; */
}

#forMusic {
    background: rgb(35, 17, 17);
    color: lime;
    height: 516px;
    position: relative;
    flex-direction: column;
    padding: 5px;
    gap: 30px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: none;
}

#audioPlayer {
    width: 80%;
    margin: 20px auto;
}
.audioPlayerDiv, #audioPlayer{
    margin-left: 20px;
    margin-top: 30px;
    justify-content: center;
}

#playPauseBtn {
    background-color: lime;
    filter: drop-shadow(0 0 0.35rem rgb(0, 225, 0.9));
    color: #111;
    padding: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.playPauseBtnDiv, .playPauseBtn{
    display: flex !important;
    justify-content: center !important;
}
#playPauseBtn:hover {
    background-color: rgb(63, 155, 63);
    color: aquamarine;
    filter: drop-shadow(0 0 0.35rem rgb(0, 225, 0.4));
}
#playlist {
    text-align: left;
    padding: 0 20px;
    max-height: 200px;
    overflow-y: auto;
}

.playlist-item {
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
}

.playlist-item:hover {
    background-color: #444;
}
.playing {
    background-color: #333;
    color: lime;
}