*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Voulcher css */
.all {
    background-image: url(img/voucherbg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	height: 650px;
	overflow-y: auto;
	border: 5px solid rgba(0,0,0, 0.3);
	border-radius: 30px;
	width: 300px;
	position: relative;

}
option{
    background-color: #00345B;
    color: #ffff;
}
.selectcard{
    background-color: #00345B;
    border: 2px solid #00345B;
    border: none;
	border-radius: 10px;
    color: #ffff;
	outline: none;
    padding: 8px;
}
::-webkit-scrollbar{
	width: 0px;
}

#infogenerate {
	position: absolute;
	height: 200px;
	margin-top: -35%;
}
#result {
	height: 330px;
	overflow-y: auto;
}
.firstinput {
	background-color: rgba(255,255,255, 1); 
	border: none;
	border-radius: 50px;
	outline: none;
}

::placeholder {
	text-align: center;
}



#allDiv{
	background-color: rgba(0,0,0, 0.2);
	margin-bottom: 10px;
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 15pt;
}

#alllSpan {
	background-color: rgba(0,0,0, 0.2);
	padding: 3px; 
}

#secondspan{
	float: right;
}

.all2 {
	background-color: rgba(0,0,0, 1);
	height: 600px;
	border:rgba(0,0,0, 0,5);
	border-radius: 30px;
	width: 300px;
	padding: 10px 5px 5px 5px;
	user-select: none;
}
.inner {
	height: 580px;  	
	border-radius: 30px;
	background-color: rgba(0,0,0, 0.3);
	padding: 10px 0px;
	user-select: none;
}
/* End Of Voulcher Css */
.house {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.div1 {
	height: 20px;
	border-radius: 20px;
	background-color: rgba(255,255,255, 0.1);
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0, 0.9);
	width: 20px;
	padding: 5px;
}
.camera-section {
	background-color: rgba(255,255,255, 0.2);
	height: 10px;
	width: 10px;
	border-radius: 50px;
	margin: 0 auto;
}

.div2 {
	height: 15px;
	background-color: rgba(0,0,0, 1);
	border-radius: 20px;
	box-shadow: inset 0px 0px 25px 0px rgba(255,255,255, 0.3);
	width: 100px;
	padding: 5px;
}

.network-status-icons {
	margin-left: 170px;
	width: 40%;
}
#firstdisplay {
	height: 510px;
	background-color: rgba(255,255,255, 0.025);
	margin-top: 6px;
}

#anotherinner {
	background-image: url(img/phonewalpaper.jpg);
	background-size: cover;
	height: 516px;
	position: relative;
	user-select: none;
}
#displaydate {
	margin-top: 70%;
	font-size: 15pt;
	font-family: Consolas;
	user-select: none;
}
.screen-button-container2 {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	user-select: none;
}

.screen-button-container {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20%;
	user-select: none;
}

.screen-button-container div {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	user-select: none;
}

.screen-button-container2 div {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	user-select: none;
}